* {
    text-decoration: none;
    margin: 0 auto;
    color: bisque;
    text-decoration: none;
}

body {
    background-color: #f3f3f3;
}

body header {
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0px;
}

header nav ul {
    display: block;
    margin: 0 auto;
}

body header nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 16px;
}

body header nav ul li a {
    font-family: sans-serif;
    font-size: 16x;
    font-weight: 200;
    color: #111;
}

header .cases {
    display: none;
}


/*INDEX*/

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(Image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
    font-size: 40px;
    font-weight: 800;
    font-family: sans-serif;
    text-align: center;
    line-height: 70px;
    color: #fff;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
    line-height: 35px;
    font-family: Cochin;
    text-align: center;
    color: rgb(161, 211, 198);
    padding: 10px auto;
}

.index-links div {
    margin: 16px 16px 0;
    height: 80px;
    width: calc (100% - 32px);
    background-color: #d6d6d6;
}

.index-links h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: calibri;
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding-top: 25px;
}


/*FOOTER*/

footer {
    font-family: sans-serif;
    font-size: 18;
    height: 100px;
    padding: 40px 0px;
    width: calc (100% - 80px);
    margin-top: 10px;
    background-color: black;
    overflow: visible;
}

footer ul {
    list-style: none;
    width: fit-content;
    float: left;
    padding-left: 50px;
}

footer ul li {
    display: block;
    line-height: 23px;
}

footer ul li a {
    font-family: Calibri;
    font-size: 16x;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.footer-links-cases {
    display: none;
}

footer div {
    width: 100px;
    float: right;
    color: lightcoral;
    margin-bottom: 10px;
    height: 100px;
}

.face-icon {
    width: 100px;
    float: right;
    color: lightcoral;
    margin-bottom: 10px;
    height: 100px;
}